{{- /* Single translate icon → switches to the other language's version of this page. */ -}}
{{- $page := . -}}
{{- $langs := site.Languages -}}
{{- if gt (len $langs) 1 -}}
  {{- range $langs -}}
    {{- if ne .Lang $page.Language.Lang -}}
      {{- $l := . -}}
      {{- $href := cond (eq $l.Lang "en") ("/" | relURL) (printf "/%s/" $l.Lang | relURL) -}}
      {{- with index (where $page.AllTranslations "Language.Lang" $l.Lang) 0 -}}{{- $href = .RelPermalink -}}{{- end -}}
      <a class="icon-btn" href="{{ $href }}" hreflang="{{ $l.Lang }}" data-lang="{{ $l.Lang }}" aria-label="{{ $l.LanguageName }}" title="{{ $l.LanguageName }}">
        {{ partial "icon.html" (dict "name" "languages" "class" "size-5") }}
      </a>
    {{- end -}}
  {{- end -}}
{{- end -}}
