<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.Params.author }}",
  "jobTitle": "{{ site.Params.role }}",
  "description": "{{ site.Params.description }}",
  "affiliation": { "@type": "Organization", "name": "{{ site.Params.affiliation }}" },
  "memberOf": { "@type": "Organization", "name": "OdysAI", "url": "https://odysai.pl" },
  "url": "{{ site.BaseURL }}",
  "email": "{{ site.Params.email }}",
  "sameAs": [
    {{- $first := true -}}
    {{- range site.Params.socials -}}
      {{- if hasPrefix .url "http" -}}
        {{- if not $first }}, {{ end -}}"{{ .url }}"{{- $first = false -}}
      {{- end -}}
    {{- end -}}
  ]
}
</script>
